.venuepage__headline {
    text-transform: uppercase;
    color: var(--headline-color);
    cursor: pointer;
    margin-bottom: 1rem;
}

.venuepage__venuelist {
    display: flex;
    flex-direction: column;
}

.venues__venueblock {
    display: flex;
    gap: 1rem;
}